<library path="src">
  <class name="SmartTemplate GUI" type="smart_template_py.smart_template_gui.SmartTemplateGUIPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      SmartTemplate GUI Plugin for rqt
    </description>
    <qtgui>
      <group>
        <label>SmartTemplate</label>
      </group>
      <label>SmartTemplate GUI</label>
      <icon type="theme">go-next</icon>
      <statustip>Set SmartTemplate position</statustip>
    </qtgui>
  </class>
</library>
